<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<aside class="left-sidebar"  th:fragment="media_left">
  <!-- Sidebar scroll-->
  <div class="allleft-menu">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="sidebar-item ">
          <a  class="sidebar-link  has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
            <i class="mdi mdi-bell-ring-outline"></i>
            <span class="hide-menu">外媒资讯</span>
          </a>
          <ul aria-expanded="false" class="collapse  first-level in">
            <li class="sidebar-item">
              <a th:classappend="${media_left == 'warning' ? 'active' : ''}" th:href="@{/system/warning}" class="sidebar-link"> <span class="hide-menu"> Twitter </span> </a>
            </li>
            <li class="sidebar-item">
              <a th:classappend="${media_left == 'warningmsg' ? 'active' : ''}" th:href="@{/system/warningmsg}" class="sidebar-link"> <span class="hide-menu"> Facebook</span> </a>
            </li>
          </ul>
        </li>


      </ul>

          <!-- <div class="wechat-logo-box">
              <svg class="icon" aria-hidden="true">
             <use xlink:href="#icon-wechat-logo"></use>
             </svg>
          </div> -->
          <div class="home-footer__bottom-content__share__qrcode"  id ="home-footer__bottom-content__share__qrcode">
            <!-- <img th:src="@{/assets/images/QRcode.jpg}" alt="wechat" style="width:120px;height:120px;border-radius:4px;"> -->
          </div>



    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
  <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
  <script th:src="@{/dist/project.js}"></script>
  <script th:src="@{/dist/baidu/baidu_statistics.js}"></script>
  <script th:inline="javascript" type="text/javascript">
    var ctxPath = /*[[@{/}]]*/'';
    /* $(document).ready(function () {
        getwechatqrcode();
    }); */

  </script>
</aside>
</body>
</html>