<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/djtu.png}">
    <title>外媒资讯·网络情报分析系统</title>
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/dist/css/custom.css}" rel="stylesheet">
    <link th:href="@{/assets/libs/sweetalert2/dist/sweetalert2.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          th:href="@{/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}">
    <script th:src="@{/common/analyze-cloud.js}"></script>
<body>
<div id="main-wrapper">
    <div th:replace="common/header::header" style="margin-left: -1000px"></div>
    <div th:replace="common/media_left::media_left"></div>
</div>
</body>
</head>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>jquery圆形悬浮菜单展开多个</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/assets/libs/css3/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="share" style="margin-top: 150px">
    <i class="fa fa-plus"></i>
</div>
<div class="one" style="margin-top: 150px">
    <a class="nav-link dropdown-toggle waves-effect  waves-dark"
       th:href="@{/system/warningmsg}">
        <i class="fa fa-facebook" th:href="@{/system/warningmsg}"></i>
    </a>

</div>
<div class="two" style="margin-top: 150px">
    <a class="nav-link dropdown-toggle waves-effect  waves-dark"
       th:href="@{/system/warning}">
        <i class="fa fa-twitter" th:href="@{/system/warning}"></i>
    </a>
</div>
<div class="three" style="margin-top: 150px">
    <a class="nav-link dropdown-toggle waves-effect  waves-dark"
       th:href="@{/system/warningmsg}">
        <i class="fa fa-instagram" th:href="@{/system/warningmsg}"></i>
    </a>
</div>
<!-- partial -->
<script src='/assets/libs/css3/jquery.min.js'></script><script  src="/assets/libs/css3/script.js"></script>

</body>
</html>


<body>
<script th:src=" @{/dist/js/app.min.js}"></script>
<script th:src=" @{/dist/js/app.init.light-sidebar.js}"></script>
<script th:src=" @{/dist/js/app-style-switcher.js}"></script>
<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/dist/js/app.min.js}"></script>
<script th:src="@{/dist/js/app.init.light-sidebar.js}"></script>
<script th:src="@{/dist/js/app-style-switcher.js}"></script>
<script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/assets/extra-libs/sparkline/sparkline.js}"></script>
<script th:src="@{/dist/js/waves.js}"></script>
<script th:src="@{/dist/js/sidebarmenu.js}"></script>
<script th:src="@{/dist/js/custom.min.js}"></script>
<script th:src="@{/assets/libs/sweetalert2/dist/sweetalert2.all.min.js}"></script>
<script th:src="@{/dist/baidu/baidu_statistics.js}"></script>
<script th:src="@{/dist/js/pages.js}"></script>
<script th:src="@{/assets/libs/block-ui/jquery.blockUI.js}"></script>
<script th:inline="javascript">
    $('body').on('click', '.projectCheck', function () {
        $('.projectCheck').each(function () {
            if (!$(this).is(":checked")) {
                $('#cstall').prop('checked', false);
                return;
            }
        });
    });
    $('.navLi').click(function(){
        jumpNavLocation($(this).data('type'), groupid, null);
    });
</script>

</body>


</div>
</div>
</head></html>
