<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href=" ../assets/images/djtu.png">
    <title>外媒情况·网络情报分析系统</title>
    <script th:src="@{/common/analyze-cloud.js}"></script>
    <link href=" ../dist/css/style.min.css" rel="stylesheet">
    <link href=" ../dist/css/custom.css" rel="stylesheet">
    <link href="../assets/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet"
          type="text/css">
    <link href="../assets/libs/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="../assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet"
          type="text/css">
</head>
<body>
<div id="main-wrapper">
    <div th:replace="common/header::header"></div>
    <div th:replace="common/media_left::media_left"></div>
    <div class="page-wrapper">
        <div class="right-part right-content" style="height: 100%">
            <!-- nav start-->
            <div class="page-breadcrumb" style="height: 100%">
                <div class="row" style="height: 100%">
                    <div class="col-lg-5 align-self-center">
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">外媒情况</li>
                                    <li class="breadcrumb-item">Twitter & Facebook</li>
                                    <li class="breadcrumb-item"></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-7 align-self-center ">

                    </div>
                </div>
            </div>
            <!-- nav end-->


            <!-- content start -->
            <div class="table-responsive">
                <!-- line start -->
                <div class="project-warning-title project-warning-list" style="">
                    <div id="app" style="width: 100%;height: 100%">
                        <div>
                            <el-input style="width: 180px;" type="text" v-model="searchText" placeholder="Search text"></el-input>
                            <el-button @click="filterTable">Search</el-button>
                        </div>
                        <el-table
                                ref="filterTable"
                                :data="filteredData"
                                style="width: 100%">
                            <el-table-column
                                    prop="text"
                                    label="text"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="handle"
                                    label="handle"
                            >
                            </el-table-column>
                            <el-table-column label="tweetLink">
                                <template slot-scope="{ row }">
                                    <el-link :href="row.tweetLink" target="_blank">{{ row.tweetLink }}</el-link>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="tweetDate"
                                    label="tweetDate"
                            >
                            </el-table-column>

                        </el-table>
                    </div>


                </div>
                <div class="prolist-warning-box" id="projectlist">
                    <!-- line start -->
                </div>

            </div>
            <!-- maill list end -->
            <!-- content end -->
            <!-- pages start -->
            <div class="all-pagebox m-r-20 m-b-20 m-t-20">
                <ul class="pagination float-right" id="page">
                </ul>
            </div>
            <!-- pages end -->
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- footer start  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- footer end  -->
<!-- ============================================================== -->
</div>
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src=" ../assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src=" ../assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src=" ../assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- apps -->
<script src=" ../dist/js/app.min.js"></script>
<script src=" ../dist/js/app.init.light-sidebar.js"></script>
<script src=" ../dist/js/app-style-switcher.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src=" ../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src=" ../assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src=" ../dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src=" ../dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src=" ../dist/js/custom.min.js"></script>
<!-- this pages -->
<script src="../dist/js/projectlist.js"></script>
<script src="../dist/js/pages.js"></script>
<!-- 右上角提示 -->
<script src="../assets/libs/block-ui/jquery.blockUI.js"></script>
<script src="../assets/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
<script th:src="@{/dist/baidu/baidu_statistics.js}"></script>


</script>
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    window.onload = function () {
        const appData = {
            tableData: [],
            searchText: '',
            filteredData: []
        }

        function fetchAll() {
            fetch("http://localhost:8084/yuqing/findInfo")
                .then((res) => res.json())
                .then((data) => {
                    appData.tableData = data;
                    appData.filteredData = data;
                    new Vue({
                        el: '#app',
                        data: appData,
                        methods: {
                            filterTable() {
                                // 过滤表格数据
                                this.filteredData = this.tableData.filter(item => {
                                    return item.text.includes(this.searchText) || item.handle.includes(this.searchText) || item.tweetLink.includes(this.searchText) || item.tweetDate.includes(this.searchText);
                                });
                            }
                        }
                    });
                });
        }

        fetchAll();
    }
</script>
</body>

</html>